.item {
  display: block;
  align-items: center;
  border: 2px, solid, black;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 15px;
  margin-left: 15px;
}
.status {
  display: inline-block;
  border-radius: 50%;
  font-weight: 300;
  font-size: 24px;
  margin: 0;
}
.avatar {
  margin-left: 15px 15px 15px;
  padding: 10px;
  width: 110px;
  border-radius: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ededed;
}
.name {
  margin-left: 15px;
  font-weight: 500;
  margin: 0;
}

.online {
  color: green;
}
.offline {
  color: rgb(192, 23, 0);
}
