#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 30px;
}

.card {
  border: 1px solid rgba(186, 39, 39, 0.5);
  background-color: aqua;
  border-radius: 20px;
}

.userName {
  font-size: 40px;
  font-weight: bold;
}
